---
interface Props {
  color: string;
  hover?: string;
  href: string;
}

const { color, hover = "var(--lettuce-5)", href } = Astro.props;
---

<a href={href} style=`border: 3px solid ${color};`>
  <p style=`color: ${color};`>
    <slot />
  </p>
</a>

<style>
  a {
    text-decoration: none;
    color: inherit;

    display: inline-block;
    border-radius: 10px;
    max-width: fit-content;
    max-height: 40px;
    padding: 7px 20px;
  }

  a p {
    font-weight: 500;
  }

  a:hover {
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  a:hover p {
    color: white !important;
  }
</style>

<style define:vars={{ hoverBg: color }}>
  a:hover {
    background-color: var(--hoverBg);
  }
</style>
