---
import SoMe from "./SoMe.astro";
---

<footer>
  <div class="flex_down">
    <div class="somes">
      <SoMe
        color="var(--ketchup-base)"
        href="https://facebook.com/"
        icon="facebook"
      />
      <SoMe
        color="var(--ketchup-base)"
        href="https://instagram.com/"
        icon="instagram"
      />
      <SoMe
        color="var(--ketchup-base)"
        href="https://linkedin.com/"
        icon="linkedin"
      />
      <SoMe color="var(--ketchup-base)" href="https://x.com/" icon="x" />
    </div>
    <div class="contact">
      <p><b>Tel: </b><a href="tel:+351000000000">+351 000 000 000</a></p>
      <p><b>Mail: </b><a href="mailto:amor@gmail.com">amor@gmail.com</a></p>
    </div>
  </div>
  <div class="center-section">
    <h1>AMOr</h1>
  </div>
  <div class="right-section">
    <img src="/logo.svg" alt="AMOr logo" class="logo" />
    <p style="color: var(--ketchup-base);">AMOr © 2025</p>
  </div>
</footer>

<style>
  footer {
    background-color: var(--bun-3);
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 2%;
    border-top: 2px solid var(--ketchup-3);
  }

  .somes,
  .center-section,
  .right-section,
  .flex_down {
    flex: 1;
  }

  .center-section {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .right-section {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    justify-content: center;
    gap: 0.5rem;
  }

  .logo {
    height: 60px;
  }

  .somes {
    display: flex;
    gap: 1rem;
  }

  h1 {
    font-size: 6rem;
    margin: 0;
    text-align: center;
  }

  .contact {
    margin-top: 1rem;
  }

  .flex_down {
    display: flex;
    flex-direction: column;
    flex: 1;
  }

  p,
  a {
    color: var(--ketchup-base);
  }

  @media (max-width: 800px) {
    footer {
      height: auto;
      padding: 2rem 1rem;
      flex-direction: column;
    }

    .logo {
      height: 45px;
    }

    .center-section h1 {
      font-size: 5rem;
      margin-top: 2rem;
    }

    .somes {
      gap: 0.5rem;
    }

    .right-section {
      align-items: center;
      place-content: center;
    }

    .right-section p {
      font-size: 0.8rem;
    }
  }

  @media (max-width: 480px) {
    footer {
      height: auto;
      flex-direction: column;
      padding: 2rem 0.5rem;
      gap: 1rem;
    }

    .center-section {
      order: -2;
    }

    .flex_down {
      order: -1;
    }

    .right-section {
      order: 0;
    }

    .somes,
    .center-section,
    .right-section {
      width: 100%;
      justify-content: center;
      align-items: center;
    }

    .right-section {
      align-items: center;
      place-content: center;
    }

    .logo {
      height: 35px;
    }

    .center-section h1 {
      font-size: 4rem;
    }

    .somes {
      justify-content: center;
    }
  }
</style>
